@tailwind base;
@tailwind components;
@tailwind utilities;

.left-side {
    background-image: url("/public/bg-main-desktop.png");
}

.front-card {
    background-image: url("/public/bg-card-front.png");
}

.back-card {
    background-image: url("/public/bg-card-back.png");
}

.circle {
    width: 3.6rem;
    height: 2rem;
    display: block;
    background-size: cover;
    background-image: url("/public/card-logo.svg");
}